header {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 5px #eee;
}

.header-wrapper {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  margin: 0 auto;
}

header h1 {
  font-size: 22px;
  line-height: 60px;
}

.nav li {
  display: inline-block;
  padding: 0 20px;
}

header a {
  font-size: 18px;
  color: #333;
}

header li.active,
header li:hover {
  background: #1e40a0;
}

header li.active a,
header li:hover a {
  color: #fff;
}
